* {
  box-sizing: border-box;
}

body, h1, h2, h3, p, ul, li, form {
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background-color: #f1f1f1;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}
nav {
  background-color: #f1f1f1;
  padding: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff69b4;
}

li:hover {
  transform: scale(1.1);
}

li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #ff69b4;
  transition: width 0.3s ease;
}

li:hover a::after {
  width: 100%;
}


/* Hero section styles */
#hero {
  height: 500px;
  background-image: url('https://source.unsplash.com/YDNvydD1jAY/');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-content h2 {
   font-size: 32px;
  margin-bottom: 20px;
  color: #f7f3f5;
  text-align: right;
  text-shadow: 2px 2px 4px #010f0d;
  
}

.signup-button {
  background-color: #ff69b4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #ff1493;
}


/* Flower section styles */
#flowers {
  padding: 70px;
  background-color: #fff;
}
.flowers-h2{
  padding: 70px;
  text-align: center;
}

.flower-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flower {
  flex: 1;
  text-align: center;
  margin: 10px;
}

.flower img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.flower p {
  margin-top: 10px;
}

.flowers-h2{
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

/* Deals section styles */
#deals {
  background-color: #f1f1f1;
  padding: 40px;
  text-align: center;
}

.deal-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.image-container {
  flex: 1;
  margin-right: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.text-container {
  flex: 1;
  text-align: left;
}

.text-container h2 {
  margin-bottom: 10px;
}

.text-container p {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .deal-section {
    flex-direction: column;
  }

  .image-container {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .text-container {
    text-align: center;
  }
}

.signup-btn {
  background-color: #ff69b4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.signup-btn:hover {
  background-color: #ff1493;
}

/* Our Blog section styles */
#blog {
  padding: 40px;
  background-color: #fff;
}

.blog-section {
  display: flex;
  justify-content: space-between;
}

.blog-post {
  flex: 0 0 calc(50% - 10px);
  text-align: center;
  margin-bottom: 20px;
}

.blog-post img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.blog-post h3 {
  margin-top: 10px;
}

.blog-post p {
  margin-bottom: 10px;
}
.blog-h2
{
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}
.blog-post img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  border-radius: 5px;
}

/* Photos section styles */
#photos {
  padding: 40px;
  background-color: #fff;
  text-align: center;
}

.photos-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-box {
  flex: 0 0 300px;
  text-align: center;
}

.photo-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

/* Subscribe section styles */
#subscribe.newsletter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://source.unsplash.com/WBpr_yH0Frg/');
  background-size: cover;
  background-position: center;
  padding: 168px 0;
  margin-bottom: 40px;
}

.newsletter-content {
  text-align: center;
  color: #fff;
}

.newsletter-content h2 {
  margin-bottom: 20px;
}

.newsletter-content form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter-content input[type="email"],
.newsletter-content button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter-content input[type="email"] {
  width: 300px;
  margin-right: 10px;
}

.newsletter-content button.subscribe-btn {
  background-color: #ff69b4;
  color: #fff;
  transition: background-color 0.3s ease;
}

.newsletter-content button.subscribe-btn:hover {
  background-color: #ff1493;
}


/* Contact section styles */
#contact {
  background-size: cover;
  background-position: center;
  padding: 60px;
  text-align: center;
  color: #070005;
  background-color: #eee6e6;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-section form {
  margin-top: 20px;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

.contact-section button.submit-btn {
  background-color: #ff69b4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.contact-section button.submit-btn:hover {
  background-color: #ff1493;
}


/* Footer styles */
footer {
  background-color: #261c29;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo img {
  height: 30px;
}

.footer-content p {
  color: #f5f5f5;
  font-size: 14px;
}
